<script type="text/x-template" id="edit-modal">






        <!-- Update Modal -->
        <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editPostModalLabel">Update Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    
                        <form @submit="onSubmitUpdate">
                            <!-- <div class="form-group">
                                <label for="editPostName">Name</label>
                                <input v-model="editPostForm.name" type="text" class="form-control" id="editPostName" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="editPostEmail1">Email address</label>
                                <input v-model="editPostForm.email" type="email" class="form-control" id="editPostEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="editPostAddress">Zip Code</label>
                                <input v-model="editPostForm.address" type="address" class="form-control" id="editPostAddress" placeholder="address">
                            </div>
                            <div class="form-group">
                                <label for="editPostPost">Post</label>
                                <input v-model="editPostForm.post" type="text" class="form-control" id="editPostPost" placeholder="Post">
                                </div>
                            
                            <div class="form-group">
                                <label for="">What kind of post is this?</label>
                                <div class="form-check">
                                    <input v-model="editPostForm.helpType" class="form-check-input" type="radio" name="editPostPostType" id="editPostNeedHelp" value='needHelp' checked>
                                    <label class="form-check-label" for="editPostNeedHelp">
                                    Requesting Assistance
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input v-model="editPostForm.helpType" class="form-check-input" type="radio" name="editPostPostType" id="editPostCanHelp" value='canHelp'>
                                    <label class="form-check-label" for="editPostCanHelp">
                                    Can Give Assistance
                                    </label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="">What service do you need or can assist with?</label>
                                <div class="form-check">
                                    <input v-model="editPostForm.requestType" class="form-check-input" type="radio" name="editPostService" id="editPostTransportation" value="transportation" checked>
                                    <label class="form-check-label" for="editPostTransportation">
                                    Transportation
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input v-model="editPostForm.requestType" class="form-check-input" type="radio" name="editPostService" id="editPostShopping" value="shopping">
                                    <label class="form-check-label" for="editPostShopping">
                                    Shopping
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input v-model="editPostForm.requestType" class="form-check-input" type="radio" name="editPostService" id="editPostInHouseHelp" value="inHouseHelp">
                                    <label class="form-check-label" for="editPostInHouseHelp">
                                    In House Help
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input v-model="editPostForm.requestType" class="form-check-input" type="radio" name="addPostService" id="editPostPetCare" value="petCare">
                                    <label class="form-check-label" for="editPostPetCare">
                                    Pet Sitting\Care
                                    </label>
                                </div>
                            </div> -->

                            <div class="form-group">
                                <label for="">Post Status?</label>
                                <div class="form-check">
                                    <input v-model="editPostForm.status" class="form-check-input" type="radio" name="editPostResolved" id="editPostResolved" value='resolved' checked>
                                    <label class="form-check-label" for="editPostResolved">
                                    Resolved
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input v-model="editPostForm.status" class="form-check-input" type="radio" name="editPostNotNeeded" id="editPostNotNeeded" value='not-needed'>
                                    <label class="form-check-label" for="editPostNotNeeded">
                                    Not Needed Anymore
                                    </label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>






</script>