{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class=col-sm-1></div>
        <div class=col-sm-10>
            <div class="hero-unit">
                <br>
                <h1>Disclaimer</h1>
                <hr>
                <h2>Purpose:</h2>
                <p class="greeting">Mass General Brigham Community Connects was created to connect Mass General Brigham employees who may be able to help each other. Mass General Brigham Community Connects is only available to individuals within the Mass General Brigham system. A Mass General Brigham email address is required to set up an account.</h2>
                <h2>Community Standards</h2>
                <p class="greeting">All should follow the same standards of professionalism and civility as we do in our workplace.</p>
                <p class="greeting">Mass General Brigham Community Connects cannot be used:</p>
                <ol class="greeting">
                  <li>To arrange child care:
                    <ul>
                      <li class="greeting">Although the site can be used to find families that may want to organize or share childcare resources with you, finding a nanny, teacher, educator, pod learning services etc. should be done through MGB offerings in partnership with Bright Horizon: click <a href="https://partnershealthcarehr.service-now.com/hrportal?id=ph_kb_article&sys_id=c113fa84db2bc0d02c243ebd7c961953&kb_category=2f1ef3a8dbd00340da8538ff9d96191d#child" target="_blank">here</a>.</li>
                      <li class="greeting">If you know someone who would like to provide such services, you can encourage them to do so through those Bright Horizon solutions by creating a profile with them. Please do not make posts on this site to offer or recommend nanny/ education services.</li>
                    </ul>
                  </li>
                  <li>To arrange hospital shift coverage.</li>
                </ol>  
                <p class="greeting">By setting up an account on Mass General Brigham Community Connects you agree that:</p>
                <ol>
                  <li class="greeting">Use of Mass General Brigham Community Connects is voluntary.</li>
                  <li class="greeting">Any interaction with other site users is completely voluntary and sharing of personal information (e.g., home address) should only be done after careful considerations of risks.</li>
                  <li class="greeting">You have read the Community Standards and will adhere to the same standards on Mass General Brigham Community Connects as in our workplace.</li>
                </ol>
                <h2>Disclaimer:</h2>
                <div class="alert alert-warning greeting" role="alert">
                  <strong>To effectively connect employees, this tool requires the user to identify their location by including street of residence. It does not request you disclose your house or apartment number for privacy reasons. By establishing an account, you are acknowledging your agreement to share your street location to other members of the Mass General Brigham community using this tool.</strong>
                </div>
                <p class="greeting">Mass General Brigham is making Mass General Brigham Community Connects available to employees, but it is not actively moderating the tool and/or requests and responses posted. By choosing to use Mass General Brigham Community Connects, you assume all risk and you are responsible for acting in accordance with the stated Purpose and Community Standards. Mass General Brigham is not responsible for the conduct of individuals that choose to participate and receive and/or offer services through Mass General Brigham Community Connects. That being said, if you post about inappropriate or illegal activity requests for services or otherwise communicate in a manner inconsistent with Mass General Brigham and our organizations standards of professionalism and civility, you may be referred to Human Resources for appropriate action.</p>
                <hr>
              </div>

        </div>
        <div class=col-sm-1></div>
    </div>
</div>


{% endblock %}
