{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class=col-sm-1></div>
        <div class=col-sm-10>
          <div class="hero-unit">
            <h1>Support</h1>
            <hr>
            <h2>Getting Started:</h2>
            <p class="greeting">If you find a post that matches a service you would like to offer, please email the poster directly.</p>  
            <p class="greeting">To connect with someone in your area or in the Partners network click the green <button type="button" class="btn btn-success dropdown-item someFixedWidths">Post a New Request</button> button when the map loads. Your connections are:</p>
            <ul>
              <li class="greeting">Transportation</li>
              <li class="greeting">Family Conections</li>
              <li class="greeting">Neighborhood</li>
              <li class="greeting">Pet Sitting/Care</li>
            </ul>
            <p class=greeting>Please note that this site should not be used to request coverage of a hospital shift or to arrange for child care. If you need child care support, please click <a href="https://partnershealthcarehr.service-now.com/hrportal?id=ph_kb_article&sys_id=c113fa84db2bc0d02c243ebd7c961953&kb_category=2f1ef3a8dbd00340da8538ff9d96191d#child" target="_blank">here</a>.</p>
      
            <h2>This Site Can Also Help You</h2>
            <ul>
                <li class="greeting">Search the “Post” field for key words or phrases to help you find exactly what you are looking for</li>
                <li class="greeting">Sort search results</li>
                <li class="greeting">Update an existing post, to either "Resolved" or "I don't need help anymore"</li>
            </ul>
            <h2>Tips:</h2>
            <ul>
                <li class="greeting">If you mark a post "Resolved" or "I don’t need help anymore" you will not be able to retrieve it.</li>
                <li class="greeting">Use the map to look for people nearby who can help/need help.
                    <ul>
                        <li class="greeting">Click on an icon to see more detail.</li>
                    </ul>
                </li>
            </ul>

            <!-- <h2>Question? Please email ___________.</h2> -->
            
            <hr>
          </div>
        </div>
        <div class=col-sm-1></div>
          </div>
</div>


{% endblock %}
